.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.task {
  font-weight: bold;
}

.task-is-done {
  font-weight: normal;
  text-decoration: line-through;
}

.btn-filter-active {
  background-color: coral;
  color: white;
  border: 4px solid gainsboro;
  border-radius: 4px;
}

.bnt-filter{

}

.input-error {
  border: 2px solid darkred;
  outline: none;
}